{% extends 'base.html' %}
{% load i18n %}

{% block header %}
{% translate 'Viewing a task' %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ task.name }}</h5>
        <p class="card-text">{{ task.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="badge bg-secondary">{% translate 'Author' %}:</span> {{ task.creator }}
        </li>
        <li class="list-group-item">
            <span class="badge bg-secondary">{% translate 'Executor' %}:</span> {{ task.executor }}
        </li>
        <li class="list-group-item">
            <span class="badge bg-secondary">{% translate 'Status' %}:</span> {{ task.status }}
        </li>
        <li class="list-group-item">
            <span class="badge bg-secondary">{% translate 'Date and time of creation' %}:</span> {{ task.created }}
        </li>
        <li class="list-group-item">
            <span class="badge bg-secondary">{% translate 'Labels' %}:</span>
            <ul>
                {% for label in task.labels.all %}
                <li>{{ label.name }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <div class="card-body">
        <a href="{% url 'task_update' task.id %}">{% translate 'Update' %}</a>
        <br>
        <a href="{% url 'task_delete' task.id %}">{% translate 'Delete' %}</a>
    </div>
</div>

{% endblock %}
